<!-- Admin panel -->
<div *ngIf="!customObject && loginService.username !== null" class="admin-panel-wrapper">
    <div class="admin-panel-title">Админка</div>
    <div class="admin-panel-add-button" [routerLink]="['/admin/add-affiche', id]">Изменить афишу</div>
    <div class="admin-panel-add-button" (click)=deleteAffiche()>Удалить афишу</div>
</div>

<!-- Affiche -->
<div class="object-wrapper">
    <div class="object-title" [innerHTML]="(customObject ? customTitle : object.title) | safeHtml"></div>
    <div class="object-text" [innerHTML]="(customObject ? customText : object.text) | safeHtml"></div>
</div>
